// GLOBAL VARIABLES - include your variables here or alter the predefined vars
// See skeleton file for copyright info

// MY VARIABLES

// background vars
$backgroundColor: #fff; 														// default background information

// font vars
$fontSize: 16px; 																// default font size. Change here will adjust sizes across the board.
$fontFamily: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;	// default fonts
$fontColor: rgba(74,74,74,1); 																// default font color

// form vars
$formFont: $fontFamily; 														// default font font

// link vars
$linkColor: #333;																// default link INERT color
$linkHoverColor: #000;															// default link HOVER color
$linkDecoration: none;														// default link decoration

// heading vars
$headingFamily: $fontFamily;												// default heading font
$headingColor: rgba(91,94,97,1);														// default heading color

// grid variables
$baseWidth: 		1440px; 													// change this to alter the overall width of the grid
$baseWidthMQ:		1266px; 													// base width for media query calculations in layout file
$baseColWidth: 		85px;														// change this the alter the grid calculation, see _mixins file for more details
$baseGutterWidth:	22px;														// calculation has changed, this is mainly here for consistency with 960.gs
$isFluid: 			false;														// want a fluid grid by default?

// ------ CHANGE MAY CAUSE UNDESIRED RESULTS
$baseColCount: 		12;															// number of cols to generate

// media query dimensions
$desktopWidth: 			1366px;
$laptopWidth: 			1024px;
$tabletWidth: 			768px;
$mobilePortraitWidth: 	300px;
$mobileLandscapeWidth: 	420px;
